<h2 class="mt-5"><%= t ".list_of_comments" %></h2>

<% commentable.comments.includes(:user).order_by_recent.each do |comment| %>
  <%= simple_format(auto_link_filter(comment.body)) %>
  <%= t ".contributor" %>:<%= comment.user.name %>
  <%= l comment.updated_at, format: :short %>

  <% if comment.editable?(current_user) %>
    <%= link_to t("link.Edit"), [:edit, commentable, comment] %> |
    <%= link_to t("link.Destroy"), [commentable, comment], method: :delete, data: { confirm: t("modal.confirm") } %>
  <% end %>
<hr>
<% end %>

<% if user_signed_in? %>
  <h2><%= t ".post_comment" %></h2>
  <%= form_with(model: [commentable, Comment.new], local: true)do |form| %>
    <%= form.text_area :body,  class: "form-control" %><br>
    <%= form.submit class: "btn btn-primary" %>
  <% end %>
<% end %>
