<p>
  <h1><%= t ".editing_user" %></h1>
</p>
<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header", model: @user, count: @user.errors.count) %></h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :introduction %>
    <%= form.text_area :introduction, class: "form-control", autocomplete: "introduction" %>
  </div>

   <div class="field">
    <%= form.label :portrait %>
    <%= form.file_field :portrait, direct_upload: true %>
    <small class="form-text text-muted"><%= t(".please_use_one_of_'png'_'jpg'_or_'jpeg'_for_portrait_file_format.") %></small>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary " %>
  </div>
<% end %>
