<% if @user.portrait.attached? %>
  <p><strong><%= t (".Portrait") %><div class="image_tag"><%= image_tag @user.portrait.variant(resize_to_limit: [400, 400]) %>
  </div></strong></p>
<% end %>

<p><h1><strong><%= User.human_attribute_name(:name) %> :</strong><%= "#{@user.name}" %></h1></p>
<p><strong><%= User.human_attribute_name(:email) %> :</strong> <%= @user.email %></p>
<p><strong><%= User.human_attribute_name(:address) %>  :</strong> <%= @user.address %></p>
<p><strong><%= User.human_attribute_name(:zip_code) %> :</strong> <%= @user.zip_code %></p>
<p><strong><%= User.human_attribute_name(:introduction) %> :</strong> <%= @user.introduction %></p>
<p><strong><%= t(".number_of_books_posted") %>：</strong><%= link_to @user.books.count, user_books_path(@user) %><p>
<p><strong><%= t(".number_of_reports_posted") %>：</strong><%= link_to @user.reports.count, user_reports_path(@user) %><p>
<p><strong><%= t(".number_of_comments_posted") %>：</strong><%= @user.comments.count %><p>
<p><strong><%= t (".Follows") %> : </strong><%= @user.followings.count %><p>
<p><strong><%= t (".Followers") %> : </strong><%= @user.followers.count %><p>
<p><strong><%= link_to t(".Follows list"), followings_user_path(@user.id) %> |
<%= link_to t(".Followers list"), followers_user_path(@user.id) %></strong></p>

<% if user_signed_in? && current_user != @user %>
  <% if @user.followed_by?(current_user) %>
    <p><%= link_to t("link.following"), user_follow_followers_path(@user.id), method: :delete, class: "btn btn-primary text-white" %></p>
  <% else %>
    <p><%= link_to t("link.follow"), user_follow_followers_path(@user.id), method: :post, class: "btn btn-outline-primary" %></p>
  <% end %>
<% end %>

<% if current_user == @user %>
  <%= link_to t("link.Edit"), edit_user_path(@user) %> |
  <%= link_to t("link.Edit password"), edit_user_registration_path %>
<% end %>
