<% if @user.portrait.attached? %>
  <p><strong><%= t (".Portrait") %><div class="image_tag"><%= image_tag @user.portrait.variant(resize_to_limit: [400, 400]) %>
  </div></strong></p>
<% end %>

<p><h1><strong><%= User.human_attribute_name(:name) %> :</strong><%= "#{@user.name}" %></h1></p>
<p><strong><%= User.human_attribute_name(:email) %> :</strong> <%= @user.email %></p>
<p><strong><%= User.human_attribute_name(:address) %>  :</strong> <%= @user.address %></p>
<p><strong><%= User.human_attribute_name(:zip_code) %> :</strong> <%= @user.zip_code %></p>
<p><strong><%= User.human_attribute_name(:introduction) %> :</strong> <%= @user.introduction %></p>
<p><strong><%= t(".Number of books posted") %>：</strong><%= @book_count %><p>

<p><%=link_to "フォロー一覧", followings_user_path(@user.id) %></p>
<p><%=link_to "フォロワー一覧", followers_user_path(@user.id) %></p>
   <% if current_user != @user %>
        <% if @user.followed_by?(current_user) %>
            <p><%=link_to "フォロー中", user_follow_followers_path(@user.id), method: :delete,class: "btn btn-primary" %></p>
        <% else %>
            <p><%=link_to "フォローする", user_follow_followers_path(@user.id), method: :post,class: "btn btn-primary" %></p>
        <% end %>
    <% end %>
<% if current_user == @user %>
  <%= link_to t("link.Edit"), edit_user_path(@user) %> |
  <%= link_to t("link.Edit password"), edit_user_registration_path, class: "navbar-link" %>
<% end %>
