<p><h1><strong><%= User.human_attribute_name(:name) %> :</strong><%= "#{@user.name}" %></h1></p>
<p><strong><%= User.human_attribute_name(:email) %> :</strong> <%= @user.email %></p>
<p><strong><%= User.human_attribute_name(:address) %>  :</strong> <%= @user.address %></p>
<p><strong><%= User.human_attribute_name(:zip_code) %> :</strong> <%= @user.zip_code %></p>
<p><strong><%= User.human_attribute_name(:introduction) %> :</strong> <%= @user.introduction %></p>
<p><strong><%= t(".Number of books posted") %>：</strong><%= @book_count %><p>

<% if current_user == @user %>
  <%= link_to t("directory.link.Edit"), edit_user_path(@user) %> |
  <%= link_to "Edit password", edit_user_registration_path, class: "navbar-link" %>
<% end %>
