<p>
  <h1>
    <strong><%= Book.human_attribute_name(:title) %>:</strong>
    <%= @book.title %>
  </h1>
</p>
<strong><p><%= Book.human_attribute_name(:user_id) %>：<strong>
<%= @user.name %></p>
<p>
  <strong><%= Book.human_attribute_name(:memo) %>:</strong>
  <%= simple_format(auto_link_filter(@book.memo)) %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:author) %>:</strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:picture) %>:</strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>
<% if user_signed_in? && current_user.id == @book.user.id %>
  <%= link_to t("link.Edit"), edit_book_path(@book) %> |
<% end %>
<%= link_to t("link.Back"), books_path %><br>

<% @book.comments.each do |comment| %>
  <%= comment.body %>
  by:<%= comment.user.name%>
  <%= l comment.updated_at, format: :short %>

<% if user_signed_in? && current_user.id == comment.user.id %>
    <%= link_to t("link.Edit"), edit_book_comment_path(comment) %> 
  <% end %>
<hr>
<% end %>
<%= render partial: 'comments/comments', locals: { commentable: @book } %>