<p>
  <h1>
    <strong><%= Book.human_attribute_name(:title) %>:</strong>
    <%= @book.title %>
  </h1>
</p>
<strong><p><%= Book.human_attribute_name(:user_id) %>：<strong>
<%= @user.name %></p>
<p>
  <strong><%= Book.human_attribute_name(:memo) %>:</strong>
  <%= simple_format(auto_link_filter(@book.memo)) %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:author) %>:</strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:picture) %>:</strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>
<% if user_signed_in? && current_user.id == @book.user.id %>
  <%= link_to t("link.Edit"), edit_book_path(@book) %> |
<% end %>
<%= link_to t("link.Back"), books_path %>

<h3>コメント</h3>
<%@book.comments.each do |comment| %>
  <div classs = "well">
  <%= comment.body%>
  </div>
<%end%>
<%# <%= form_with model: [commentable, Comment.new] do |form| %>
  <%#= form.text_area :body %><br>
  <%#= form.submit %>
<%# end %> 
<%= form_for([@book, @book.comments.build]) do |f| %>
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %> 