<p>
  <h1>
    <strong><%#= @report.human_attribute_name(:title) %>タイトル:</strong>
    <%= @report.title %>
  </h1>
</p>
<strong><p><%#= @report.human_attribute_name(:user_id) %>name：<strong>
<%= @user.name %></p>
<p>
  <strong><%#= @report.human_attribute_name(:body) %>中身:</strong>
  <%= simple_format(auto_link_filter(@report.body)) %>
</p>

<% if user_signed_in? && current_user.id == @report.user.id %>
  <%= link_to t("link.Edit"), edit_report_path(@report) %> |
<% end %>
<%= link_to t("link.Back"), reports_path %><br>

<% @report.comments.each do |comment| %>
  <%= comment.body %>
  by:<%= comment.user.name%>
  <%= l comment.updated_at, format: :short %>

<% if user_signed_in? && current_user.id == comment.user.id %>
    <%= link_to t("link.Edit"), edit_report_comment_path(comment) %> 
  <% end %>
<hr>
<% end %>

<%= render partial: 'comments/comments', locals: { commentable: @report } %>