<p>
  <h1>
    <strong><%#= @report.human_attribute_name(:title) %>タイトル:</strong>
    <%= @report.title %>
  </h1>
</p>
<strong><p><%#= @report.human_attribute_name(:user_id) %>name：<strong>
<%= @user.name %></p>
<p>
  <strong><%#= @report.human_attribute_name(:body) %>中身:</strong>
  <%= simple_format(auto_link_filter(@report.body)) %>
</p>

<% if user_signed_in? && current_user.id == @report.user.id %>
  <%= link_to t("link.Edit"), edit_report_path(@report) %> |
<% end %>
<%= link_to t("link.Back"), reports_path %>

<h3>コメント</h3>
<%@report.comments.each do |comment| %>
  <div classs = "well">
  <%= comment.body%>
  </div>
<%end%>
<%# <%= form_with model: [commentable, Comment.new] do |form| %>
  <%#= form.text_area :body %><br>
  <%#= form.submit %>
<%# end %> 
<%= form_for([@report, @report.comments.build]) do |f| %>
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %> 