<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>
  <body class="text-monospace">
    <%= render "header" %>
    <div class="container mb-5 ">
     <%= render "flash" %>
      <%= yield %>
    </div>
    <%= render "fotter" %>
  </body>
</html>
